@using MATJParking.Web.Models;
@model  SearchData
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<form>
    <p class="lead"></p>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                       
                            <select class="form-control " id="dropDown" name="dropDown" value="@Model.DropDown">
                                <option value="1" @if (Model.DropDown == "1") {@:selected 
                                        })>Parked Vehicles</option>
                                <option value="2" @if (Model.DropDown == "2") {@:selected 
                                        }>Price greater than</option>
                                <option value="3" @if (Model.DropDown == "3") {@:selected 
                                        }>Registration number</option>
                                <option value="5" @if (Model.DropDown == "3") { @: selected
                                                                                }>
                                    All parking places
                                </option>
                                <optgroup label="vehicle type">
                                    @foreach (VehicleType item in ViewBag.VehicleTypes)
                                    {
                                        <option value="4.@item.ID" @if (Model.VehicleTypeId == item.ID) {@:selected
                                                }>@item.Name</option>
                                    }
                                </optgroup>
                            </select>
                        
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="searchValue" placeholder="Search vehicle..." value="@Model.SearchValue">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search "> </span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            @Model.SearchPath
        </div>
    </div>
</form>


    <!-- Header-->
    
        <div class="container">
            <br />
       
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Registration number</th>
                        <th>Vehicle type</th>
                        <th class="text-right">Parking time (hour)</th>
                        <th class="text-right">Price</th>
                    </tr>
                </thead>

                           @foreach (MATJParking.Web.Models.ParkingPlace place in Model.SearchResult)
            {
                <tbody>
                    <tr>
                        <td>@place.ID</td>
                        @if (place.Occupied)
                        {
                            <td><a href="~/Vehicle/CarDetails/@place.VehicleRegNumber">@place.VehicleRegNumber</a> </td>
                            <td>@place.Vehicle.VehicleType.Name</td>
                            <td class="text-right">@Math.Round(place.Vehicle.ParkingTime, 2)</td>
                            <td class="text-right">@place.Vehicle.Price SEK</td>
                        }
                        else
                        {
                            <td>- empty - </td>
                            <td>@place.VehicleType.Name</td>
                            <td class="text-right">-</td>
                            <td class="text-right">-</td>
                        }
                        
                    </tr>

                </tbody>
                }
            </table>
        </div>





