@using MATJParking.Web.Models;
@using Newtonsoft.Json;
@model  SearchData
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<div ng-controller="searchController" ng-init="setSearchData(@Model.DropDown, '@Model.SearchValue', @Model.VehicleTypeId,  @Model.JSONData, @JsonConvert.SerializeObject(ViewBag.VehicleTypes))">
<form >
    <p class="lead"></p>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">

                        <select class="form-control " id="dropDown" name="dropDown" ng-model="dropDown">
                            <option ng-repeat="option in getSelectOptions()"
                                    value={{option.value}}
                                    ng-selected="dropDown==option.value"
                                    >
                                {{option.name}}
                            </option>
                            <optgroup label="vehicle type">
                                <option ng-repeat="vehicleType in vehicleTypes" value="4.{{vehicleType.ID}}" ng-selected="dropDown==4.{{vehicleType.ID}}">
                                    {{vehicleType.Name}}
                                </option>
                                }
                            </optgroup>
                        </select>

                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="searchValue" placeholder="Search vehicle..." value="@Model.SearchValue" ng-model="searchValue">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="getData()"><span class="glyphicon glyphicon-search "> </span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            {{searchPath}}
        </div>
    </div>
  
</form>
    <!-- Header-->

          <div class="container">
            <br />
       
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a href="#" ng-click="setSortOrder('place')">Place</a></th>
                        <th><a href="#" ng-click="setSortOrder('registrationNumber')">Registration numer</a></th>
                        <th><a href="#" ng-click="setSortOrder('vehicleType')">Vehicle type</a></th>
                        <th class="text-right"><a href="#" ng-click="setSortOrder('parkingTime')">Parking time</a></th>
                        <th class="text-right"><a href="#" ng-click="setSortOrder('price')">Price</a></th>
                    </tr>
                </thead>

                <tbody>
                        <tr ng-repeat="place in data">

                           <td>{{place.ID}}</td>
                            <td><a href="~/Vehicle/CarDetails/{{place.VehicleRegNumber}}">{{place.VehicleRegNumber}}</a> </td>
                            <td>{{place.Vehicle.VehicleType.Name}}</td>
                            <td class="text-right">{{place.Vehicle.ParkingTime}}</td>
                            <td class="text-right">{{place.Vehicle.Price}} SEK</td>
                        </tr>
                </tbody>
            </table>
        </div>



    </div>

