@using MATJParking.Web.Models;
@using Newtonsoft.Json;
@model  SearchData
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<div ng-controller="searchController" ng-init="setSearchData(@Model.DropDown, '@Model.SearchValue', @Model.VehicleTypeId,  @Model.JSONData)">
<form >
    <p class="lead"></p>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">

                        <select class="form-control " id="dropDown" name="dropDown">
                            <option value="1" @if (Model.DropDown == "1") { @: selected
                                                                                                                } )>
                                Parked Vehicles
                            </option>
                            <option value="2" @if (Model.DropDown == "2") { @: selected
                                                                                                                }>
                                Price greater than
                            </option>
                            <option value="3" @if (Model.DropDown == "3") { @: selected
                                                                                                                }>
                                Registration number
                            </option>
                            <option value="5" @if (Model.DropDown == "5") { @: selected
                                                                                                                                                        }>
                                All parking places
                            </option>
                            <optgroup label="vehicle type">
                                @foreach (VehicleType item in ViewBag.VehicleTypes)
                                {
                                    <option value="4.@item.ID" @if (Model.VehicleTypeId == item.ID) { @: selected
                                                                                                                                        }>
                                        @item.Name
                                    </option>
                                }
                            </optgroup>
                        </select>

                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="searchValue" placeholder="Search vehicle..." value="@Model.SearchValue">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="getData()"><span class="glyphicon glyphicon-search "> </span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            @Model.SearchPath
        </div>
    </div>
  
</form>






    <!-- Header-->

          <div class="container">
            <br />
       
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Place", "Search", new { sortOrder = Model.GetNextSortOrder("place"), dropDown = Model.DropDown, searchValue = Model.SearchValue })</th>
                        <th>@Html.ActionLink("Registration number", "Search", new { sortOrder = Model.GetNextSortOrder("regnr"), dropDown = Model.DropDown, searchValue = Model.SearchValue })</th>
                        <th>@Html.ActionLink("Vehicle type", "Search", new { sortOrder = Model.GetNextSortOrder("type"), dropDown = Model.DropDown, searchValue = Model.SearchValue })</th>
                        <th class="text-right">@Html.ActionLink("Parking time (hour)", "Search", new { sortOrder = Model.GetNextSortOrder("time"), dropDown = Model.DropDown, searchValue = Model.SearchValue })</th>
                        <th class="text-right">@Html.ActionLink("Price", "Search", new { sortOrder = Model.GetNextSortOrder("price"), dropDown = Model.DropDown, searchValue = Model.SearchValue })</th>
                    </tr>
                </thead>

                <tbody>
                    <tr><td>{{data.count}}</td></tr>
                        <tr ng-repeat="place in data">

                           <td>{{place.ID}}</td>
                            <td><a href="~/Vehicle/CarDetails/{{place.VehicleRegNumber}}">{{place.VehicleRegNumber}}</a> </td>
                            <td>{{place.Vehicle.VehicleType.Name}}</td>
                            <td class="text-right">{{place.Vehicle.ParkingTime}}</td>
                            <td class="text-right">{{place.Vehicle.Price}} SEK</td>
                        </tr>
                </tbody>
            </table>
        </div>



    {{data}}
    </div>

